body {
    background-color: antiquewhite;
}

input:invalid {
    border: 2px solid red;
}
  
input:valid {
    border: 2px solid black;
}
  
input:invalid:required {
    background-image: linear-gradient(to right, rgb(246, 129, 149), rgb(117, 11, 165));
}
  
input:valid:required {
    background-image: linear-gradient(to right, rgb(242, 228, 29), rgb(88, 239, 80));
}